@charset "UTF-8";
/*

  Con este reset vamos a resolver:
    👉 Unificar el uso de Custom Properties
    👉 Problemas de box-model más generales
    👉 Problemas con imagenes, vídeos e iconos svg
    👉 Problemas con tipografías y etiquetas input en formularios
    👉 Unificar la tipografía de todas las etiquetas de una web

*/
/* Aquí definimos las Custom properties */
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200;400;700&display=swap");
:root {
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
     object-fit: cover;
  /* opcional */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
    display: inline;
    width: initial;
  } */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

@-webkit-keyframes preload {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes preload {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes preloadlogo {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}
@keyframes preloadlogo {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}
* {
  font-family: "Albert Sans", sans-serif;
}

.preload {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(rgb(39, 73, 98)), to(rgb(0, 38, 69)));
  background: linear-gradient(90deg, rgb(39, 73, 98) 0%, rgb(0, 38, 69) 100%);
  z-index: 100;
  pointer-events: none;
  -webkit-animation: preload 2s ease 1 2.5s both;
          animation: preload 2s ease 1 2.5s both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
}
.preload__img {
  max-width: 30em;
  -webkit-animation: preloadlogo 2s ease 1 both;
          animation: preloadlogo 2s ease 1 both;
}

body {
  background-color: #f5f5f5;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
body.sidebar_open {
  margin-left: 200px;
}
@media screen and (max-width: 596px) {
  body.sidebar_open {
    margin-left: 50px;
  }
}

.login {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 616px) {
  .login {
    background-image: url("../img/welcome img.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
@media screen and (max-height: 397px) {
  .login {
    background-image: url("../img/welcome img.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
.login__wrapper {
  width: 100%;
  height: 100%;
  border-radius: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login__welcome {
  border-radius: 2em 0 0 2em;
  height: 90vh;
  width: 60%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../img/welcome img.jpg");
}
@media screen and (max-width: 616px) {
  .login__welcome {
    display: none;
  }
}
@media screen and (max-height: 397px) {
  .login__welcome {
    display: none;
  }
}
.login__form {
  width: 40%;
  height: 90vh;
  border-radius: 0 2em 2em 0;
  background: -webkit-gradient(linear, left top, right top, from(rgb(255, 255, 255)), color-stop(25%, rgb(237, 233, 233)));
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(237, 233, 233) 25%);
}
@media screen and (max-width: 616px) {
  .login__form {
    width: 100%;
    border-radius: 2em;
  }
}
@media screen and (max-height: 397px) {
  .login__form {
    height: auto;
    width: 100%;
    border-radius: 2em;
  }
}
.login__h2 {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}
.login__container {
  height: 100%;
  padding: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
  color: black;
}
.login__bloque {
  background-color: #f5f5f5;
  border-radius: 2em;
}
.login__btn {
  padding-top: 2em;
  width: 100%;
}
.login .login-input {
  border: solid black 1px;
  height: 2.5em;
  border-radius: 2em;
  outline: none;
  text-align: center;
}
.login-button {
  cursor: pointer;
  color: white;
  background-color: #19255f;
  padding: 1em;
  border-radius: 2em;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.login-button:hover {
  color: #f5f5f5;
  background-color: #202335;
}
.login form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}
.login input {
  outline: none;
}

.sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #163451;
  left: -200px;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebar.active {
  left: 0px;
}
@media screen and (max-width: 596px) {
  .sidebar {
    width: 50px;
  }
}
.sidebar__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}
.sidebar__li {
  color: rgba(230, 230, 230, 0.9);
  padding: 1em;
  text-align: center;
}
.sidebar__li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 1em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.sidebar__li a:hover {
  color: rgba(121, 118, 118, 0.9);
  -webkit-transform: translateY(-13%);
          transform: translateY(-13%);
}
@media screen and (max-width: 596px) {
  .sidebar__element {
    display: none;
  }
}
.sidebar__h1 {
  color: rgba(230, 230, 230, 0.9);
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  line-height: 1.5em;
}
.sidebar__h3 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  font-size: 1em;
}
.sidebar .logo {
  color: rgba(230, 230, 230, 0.9);
}
.sidebar .logo-mobile {
  display: none;
}
@media screen and (max-width: 596px) {
  .sidebar .logo-mobile {
    display: block;
  }
}
@media screen and (max-height: 453px) {
  .sidebar .logo-mobile {
    display: none;
  }
}
@media screen and (max-width: 596px) {
  .sidebar .logo-normal {
    display: none;
  }
}
@media screen and (max-height: 453px) {
  .sidebar .logo-normal {
    display: none;
  }
}

.header {
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  padding: 2em;
}
@media screen and (max-width: 596px) {
  .header {
    padding: 1em;
  }
}
.header__wrapper {
  padding: 1em;
  background-color: #ececec;
  border-radius: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__toggle-btn {
  cursor: pointer;
}
.header__svg {
  display: block;
  width: 32px;
  text-align: center;
  font-size: 30px;
  color: black;
}
.header__text {
  font-weight: 700;
  font-size: 1em;
  color: black;
}

.inicio {
  max-height: 200em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 1em;
  padding-bottom: 3em;
}
.inicio__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 4em;
}
.inicio .card {
  height: 10em;
  width: 20em;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.inicio .card:hover {
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
}
.inicio__card {
  width: 100%;
  height: 100%;
  padding: 1.5em;
  border-radius: 2em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: green;
}
.inicio__h3 {
  font-weight: 500;
  font-size: 1em;
  color: black;
}

.table {
  max-height: 200em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 1em;
  padding-bottom: 3em;
  /* Responsive */
}
.table__header {
  border-radius: 1em 1em 0 0;
  background-color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}
.table__input {
  border-radius: 1em;
  padding: 1em;
  border: 1px solid rgb(110, 110, 110);
  color: black;
  outline: none;
  background-color: #fbf6f6;
}
.table__button {
  cursor: pointer;
  color: white;
  background-color: #19255f;
  border-radius: 1em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.table__button:hover {
  background-color: #060c2b;
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}
.table__button a {
  cursor: pointer;
  padding: 1em;
}
.table__wrapper {
  width: 100%;
}
.table__fl {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}
.table__fl.blur {
  -webkit-filter: blur(7px);
          filter: blur(7px);
  pointer-events: none;
}
.table__fl td, .table__fl th {
  text-align: center;
  padding: 8px;
}
.table__fl td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}
.table__fl thead th {
  color: #ffffff;
  background: #4fc3a1;
}
.table__fl thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}
.table__fl tr:nth-child(even) {
  background: #f8f8f8;
}
@media (max-width: 767px) {
  .table__fl {
    display: block;
    width: 100%;
  }
  .table__wrapper:before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }
  .table__fl thead, .table__fl tbody, .table__fl thead th {
    display: block;
  }
  .table__fl thead th:last-child {
    border-bottom: none;
  }
  .table__fl thead {
    float: left;
  }
  .table__fl tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  .table__fl td, .table__fl th {
    padding: 20px 0.625em 0.625em 0.625em;
    height: 60px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .table__fl thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }
  .table__fl tbody tr {
    display: table-cell;
  }
  .table__fl tbody tr:nth-child(odd) {
    background: none;
  }
  .table__fl tr:nth-child(even) {
    background: transparent;
  }
  .table__fl tr td:nth-child(odd) {
    background: #f8f8f8;
    border-right: 1px solid #e6e4e4;
  }
  .table__fl tr td:nth-child(even) {
    border-right: 1px solid #e6e4e4;
  }
  .table__fl tbody td {
    display: block;
    text-align: center;
  }
}
.table .botones {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}