@mixin flex($flex, $direction, $wrap, $just, $align) {
  display: $flex;
  flex-flow: $direction $wrap;
  justify-content: $just;
  @if $wrap == "nowrap" {
    align-items: $align;
  } @else {
    align-content: $align;
  }
}
@mixin neo($radius, $eje) {
  border-radius: $radius;

  box-shadow: $eje $eje ($eje * 2) #0000004d,
    (-$eje) (-$eje) ($eje * 2) #0000004d;
}

@mixin phone($medida: 480px) {
  //480px es valor predeterminado, si no se indica se toma este
  @media screen and (max-width: $medida) {
    @content;
  }
}

@mixin phone2($medida: 480px) {
  //480px es valor predeterminado, si no se indica se toma este
  @media screen and (max-height: $medida) {
    @content;
  }
}
