@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200;400;700&display=swap");
$font: "Albert Sans", sans-serif;
$colors: (
  "main": #000,
  "secondary": #ffffff,
  "no-selected": #5e5c5d,
);
$text-main: #f5f5f5;
$text-sec: #d5d4d4;
$text-size: (
  "small": 1em,
  "subtitle": 2em,
  "title": 3em,
);
$gradients: ();

@keyframes preload {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes preloadlogo {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1);
  }
  75% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
