@import "_reset", "_mixins", "_settings";

* {
  font-family: $font;
}

.preload {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, rgb(39, 73, 98) 0%, rgb(0, 38, 69) 100%);
  z-index: 100;
  pointer-events: none;

  animation: preload 2s ease 1 2.5s both;

  @include flex(flex, column, nowrap, center, center);

  pointer-events: none;

  &__img {
    max-width: 30em;
    animation: preloadlogo 2s ease 1 both;
  }
}

body {
  background-color: #f5f5f5;
  transition: all 0.4s linear;
  &.sidebar_open {
    margin-left: 200px;
    @include phone(596px) {
      margin-left: 50px;
    }
  }
}

.login {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 1em;
  @include flex(flex, row, nowrap, center, center);
  @include phone(616px) {
    background-image: url("../img/welcome\ img.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  @include phone2(397px) {
    background-image: url("../img/welcome\ img.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  &__wrapper {
    width: 100%;
    height: 100%;

    border-radius: 2em;
    @include flex(flex, row, nowrap, center, center);
  }
  &__welcome {
    border-radius: 2em 0 0 2em;
    height: 90vh;
    width: 60%;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../img/welcome\ img.jpg");
    @include phone(616px) {
      display: none;
    }
    @include phone2(397px) {
      display: none;
    }
  }
  &__form {
    @include phone(616px) {
      width: 100%;
      border-radius: 2em;
    }
    @include phone2(397px) {
      height: auto;
      width: 100%;
      border-radius: 2em;
    }
    width: 40%;
    height: 90vh;
    border-radius: 0 2em 2em 0;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(237, 233, 233, 1) 25%
    );
  }
  &__h2 {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
  }
  &__container {
    height: 100%;
    padding: 4em;
    @include flex(flex, column, nowrap, center, center);
    gap: 2em;
    color: black;
  }
  &__bloque {
    padding: 1em;
    background-color: #f5f5f5;
    border-radius: 2em;
  }
  &__btn {
    padding-top: 2em;
    width: 100%;
  }

  &-button {
    cursor: pointer;
    color: white;
    background-color: #19255f;
    padding: 1em;
    border-radius: 2em;
    width: 100%;
    transition: 0.5s;
  }
  &-button:hover {
    color: #f5f5f5;
    background-color: #202335;
  }
  &-input {
  }

  form {
    @include flex(flex, column, nowrap, center, center);
    gap: 0.5em;
  }
  input {
    outline: none;
  }
}

.sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #163451;
  left: -200px;
  transition: all 0.4s linear;
  padding: 1em;

  @include flex(flex, column, nowrap, space-around, center);
  &.active {
    left: 0px;
  }

  @include phone(596px) {
    width: 50px;
  }

  &__ul {
    @include flex(flex, column, nowrap, space-around, center);
    gap: 1em;
  }
  &__li {
    color: rgba(230, 230, 230, 0.9);

    padding: 1em;

    text-align: center;
  }
  &__li a {
    @include flex(flex, row, nowrap, center, center);
    text-align: center;
    gap: 1em;
    transition: 0.5s;
  }
  &__li a:hover {
    color: rgba(121, 118, 118, 0.9);
    transform: translateY(-13%);
  }
  &__element {
    @include phone(596px) {
      display: none;
    }
  }
  &__h1 {
    color: rgba(230, 230, 230, 0.9);
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    line-height: 1.5em;
  }
  &__h3 a {
    @include flex(flex, row, nowrap, center, center);
    gap: 1em;
    font-size: 1em;
  }
  .logo-mobile {
    display: none;
    @include phone(596px) {
      display: block;
    }
    @include phone2(453px) {
      display: none;
    }
  }
  .logo-normal {
    @include phone(596px) {
      display: none;
    }
    @include phone2(453px) {
      display: none;
    }
  }
}
.header {
  @include phone(596px) {
    padding: 1em;
  }
  transition: all 0.4s linear;
  padding: 2em;
  &__wrapper {
    padding: 1em;
    background-color: #ececec;
    border-radius: 1.5em;
    @include flex(flex, row, nowrap, space-between, center);
  }
  &__toggle-btn {
    cursor: pointer;
  }

  &__svg {
    display: block;
    width: 32px;
    text-align: center;
    font-size: 30px;
    color: black;
  }
  &__text {
    font-weight: 700;
    font-size: 1em;
    color: black;
  }
}

.inicio {
  max-height: 200em;
  @include flex(flex, column, wrap, center, center);
  padding: 1em;
  padding-bottom: 3em;
  &__wrapper {
    width: 100%;
    @include flex(flex, row, wrap, center, center);
    gap: 4em;
  }
  .card {
    height: 10em;
    width: 20em;
    transition: 0.5s ease-in-out;
  }
  .card:hover {
    transform: translateY(-3%);
  }
  &__card {
    width: 100%;
    height: 100%;
    padding: 1.5em;
    border-radius: 2em;
    width: 100%;
    @include flex(flex, column, nowrap, center, center);
    background-color: green;
  }
  &__h3 {
    font-weight: 500;
    font-size: 1em;
    color: black;
  }
}

.table {
  max-height: 200em;
  @include flex(flex, column, wrap, center, center);
  padding: 1em;
  padding-bottom: 3em;

  &__header {
    border-radius: 1em 1em 0 0;
    background-color: #fff;
    width: 100%;
    @include flex(flex, row, nowrap, space-between, center);
    padding: 1em;
  }

  &__input {
    border-radius: 1em;
    padding: 1em;
    border: 1px solid rgb(110, 110, 110);
    color: black;
    outline: none;
    background-color: #fbf6f6;
  }
  &__button {
    cursor: pointer;
    color: white;
    background-color: #19255f;

    border-radius: 1em;

    transition: 0.5s;
  }

  &__button:hover {
    background-color: #060c2b;
    transform: translateY(-5%);
  }
  &__button a {
    cursor: pointer;
    padding: 1em;
  }

  &__wrapper {
    width: 100%;
  }

  &__fl {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
  }

  &__fl td,
  &__fl th {
    text-align: center;
    padding: 8px;
  }

  &__fl td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
  }

  &__fl thead th {
    color: #ffffff;
    background: #4fc3a1;
  }

  &__fl thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
  }

  &__fl tr:nth-child(even) {
    background: #f8f8f8;
  }

  /* Responsive */

  @media (max-width: 767px) {
    &__fl {
      display: block;
      width: 100%;
    }
    &__wrapper:before {
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
    }
    &__fl thead,
    &__fl tbody,
    &__fl thead th {
      display: block;
    }
    &__fl thead th:last-child {
      border-bottom: none;
    }
    &__fl thead {
      float: left;
    }
    &__fl tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
    }
    &__fl td,
    &__fl th {
      padding: 20px 0.625em 0.625em 0.625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
    }
    &__fl thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
    }
    &__fl tbody tr {
      display: table-cell;
    }
    &__fl tbody tr:nth-child(odd) {
      background: none;
    }
    &__fl tr:nth-child(even) {
      background: transparent;
    }
    &__fl tr td:nth-child(odd) {
      background: #f8f8f8;
      border-right: 1px solid #e6e4e4;
    }
    &__fl tr td:nth-child(even) {
      border-right: 1px solid #e6e4e4;
    }
    &__fl tbody td {
      display: block;
      text-align: center;
    }
  }

  .botones {
    width: 100%;
    @include flex(flex, row, nowrap, center, center);
  }
}
